<div class="row px-3" >
    <form action="/admin/generate-fake-posts" method="post">
        <h1>Create Posts</h1>       
            <div class="form-group">
                <input name="amount" type="number" class="form-control">
            </div>
            <button class="btn btn-dark" type="submit">
                Generate
            </button>
    </form>
</div> 

<div class="row">
    <canvas id="myChart" ></canvas>
</div>